@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&family=Rubik:wght@500;700&display=swap');

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(221, 221, 221);
    height: 100vh;
    display: grid;
    
    grid-template-columns: auto;
    grid-template-rows: 250px auto 10%;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header{
    
    grid-area: header;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 30% auto;
    grid-template-areas:
        "navtitle"
        "weeks";
    background-color: rgb(43, 58, 66);
}

.navtitle{

    grid-area: navtitle;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.weeks{
    
    grid-area: weeks;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "weeks"
        "weeks"
        "weeks"
        "weeks";
}

main{
    grid-area: main;
    padding-left: 8px;
    padding-right: 8px;

    
}

nav{
   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 87, 101);
}



header a, foot, foot a{
    color: rgb(239, 239, 239);
    text-decoration: none;
}

header a:hover, foot a:hover{
	text-decoration: underline;
}

section{
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: left;   
    flex-direction: column;
    width: 100%;
    background-color: rgb(239, 239, 239);
    box-shadow: 5px 10px 10px #aaaaaa;
    
}

section p, section h3{
    padding-left: 16px;
    padding-right: 16px;
}


.image a{
    display: flex;
    justify-content: center;
    align-items: center;       
}
section:nth-of-type(1){
    grid-area: section1;
    
}

section:nth-of-type(2){
    grid-area: section2;
    
}

section:nth-of-type(3){
    grid-area: section3;
    
}

section:nth-of-type(4){
    grid-area: section4;
    
}

section:nth-of-type(5){
    grid-area: section5;
    
}

section:nth-of-type(6){
    grid-area: section6;
    
}


footer{
    position: sticky;
    bottom: 0px;
    grid-area: footer;
    background-color: rgb(63, 87, 101);
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: auto;
    grid-template-areas: 
        "foot1 foot2 foot3";
}

foot{
    display: flex;
    justify-content: center;
    align-items: center;
        
}


@media screen and (min-width: 768px) { /*Tablet */
    body {
        margin: 0px;
        
        padding: 0px;
        
        height: 100vh;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 250px auto 10%;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
    
    header{
        
        grid-area: header;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 30% auto;
        grid-template-areas:
            "navtitle"
            "weeks";
        
    }
    
    
    .weeks{
        grid-area: weeks;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "weeks"
            "weeks"
            "weeks";
    }   
}

@media screen and (min-width: 1024px) {   /*Desktop */
    body {
        margin: 0px;
        padding: 0px;
        height: 100vh;
        display: grid;
        
        grid-template-columns: auto;
        grid-template-rows: 100px auto 10%;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
    
    header{
        
        grid-area: header;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 50% auto;
        grid-template-areas:
            "navtitle"
            "weeks";
        
    }
    
    
    .weeks{
        grid-area: weeks;
        background-color: rgb(63, 87, 101);
        display: flex;
        align-content: center;
        flex-wrap: wrap;
        justify-content: space-around;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr;
        grid-template-areas:
            "weeks";
    }

    main{
        grid-area: main;
        margin: 0px;
        padding: 0px;
        padding-right: 48px;
        display: grid;
        grid-column-gap: 0px;
        grid-template-columns: 15% 30% 40% 15%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "space1 section1 section2 space2"
            "space1 section3 section4 space2"
            "space1 section5 section6 space2"
            "space1 section7 section8 space2";
    }

    space{
        margin: 0px;
        padding: 0px;
        width:auto;
    }
}



h1{
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

h3{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 700;
}

p, foot a{
    font-family: 'Roboto Mono', monospace;
}



foot p , nav{
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}