/*Import Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #D9D9D9;
    height: 100vh;
    display: grid;
    grid-template-columns: auto; /* 1 */
    grid-template-rows: 144px auto; /* 2 */
    grid-template-areas:
        "header"
        "main";
}

header{
    grid-area: header;
    display: grid;
    grid-template-columns: 0px auto 72px 72px;
    grid-template-rows: 72px 72px;
    grid-template-areas:
        "nav1 nav2 nav3 nav4"
        "nav5 nav5 nav5 nav5";
    background-color: #D9D9D9;
    
}

p {
    padding-left: 8px;
    text-decoration: none;
}


.title{
    padding-left: 8px;
    background-color: #023E73;
    border: 2px solid #023E73;
    border-radius: 16px;
    color:#FDFDFD;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content{
    border: 0px solid #FDFDFD;
    border-radius: 16px;
 
    
}

.contentCentered{
    border: 0px solid #FDFDFD;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.content h3{
    padding-left: 8px;
}

.button{
    background-color: #FDFDFD;
    border: 2px solid #023E73;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;
}

.buttonSmall{
    font-size: 12px;
    background-color: #FDFDFD;
    border: 2px solid #023E73;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;
}


.button:hover, .buttonSmall:hover{
    background-color: #023E73;
    color:#FDFDFD;    
    text-decoration: underline;
}

a{
    text-decoration: none;
}

a:visited, a:link{
    color: inherit;   
}

.buttonon{
    background-color: #023E73;
    color:#FDFDFD;
    border: 2px solid #023E73;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;    
}


/*Start of grids for pages */
.home {
    grid-area: main;
    padding: 16px;
    grid-gap: 16px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60% auto auto;
    grid-template-areas:
        "section1"
        "section2"
        "section3";
    background-color: #D9D9D9;
}

.home div{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display{
    
    border: 0px solid #FDFDFD;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 90% 10%;
    grid-template-areas:
        "left1 img right1"
        "dots1 dots1 dots1";    
}

.display a{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.display div:nth-of-type(1){
    grid-area: left1;
}
.display div:nth-of-type(2){
    grid-area: right1;
}
.display div:nth-of-type(3){
    grid-area: dots1;
}
.product{
    padding: 16px;
    grid-gap: 16px;
    background-color: #D9D9D9;
    display: grid;
    grid-template-columns: auto; /* 1 */
    grid-template-rows: 30% auto auto; /* 3 */
    grid-template-areas:
        "section1"
        "section2"
        "section3";    
}

.productdesc{

    border: 0px solid #023E73;
    border-radius: 16px;
    background-color: #FDFDFD;
    display: grid;
    grid-template-columns: 50% 50%; /* 1 */
    grid-template-rows: auto auto 72px; /* 3 */
    grid-template-areas:
        "title1 title1"
        "desc1 desc1"
        "price1 cart1"; 
}

.productdesc h2{
    font-size: 35px;
    text-align: center;
    color: #023E73;
}

.productdesc div:nth-of-type(1){
    grid-area: title1;
}

.productdesc div:nth-of-type(2){
    grid-area: desc1;

}

.productdesc div:nth-of-type(3){
    grid-area: price1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productdesc div:nth-of-type(4){
    grid-area: cart1;
}

.customerpurchased{
    background-color: #D9D9D9;
    gap:16px;
    padding-right: 16px;
    display: grid;
    grid-template-columns: 50% 50%; /* 1 */
    grid-template-rows: 72px auto auto; /* 2 */
    grid-template-areas:
        "section1 section1"
        "section2 section3"
        "section4 section5";    
}

.suggestlist{
    border: 0px solid #023E73;
    border-radius: 16px;
    background-color: #FDFDFD;
    row-gap: 4px;
    display: grid;
    grid-template-columns: 50% 50%; /* 1 */
    grid-template-rows: auto auto 54px; /* 3 */
    grid-template-areas:
        "img1 img1"
        "title1 title1"
        "view1 cart1";    
}

.suggestlist div:nth-of-type(1){
    grid-area: img1;
}

.suggestlist div:nth-of-type(2){
    grid-area: title1;

}

.suggestlist div:nth-of-type(3){
    grid-area: view1;

}

.suggestlist div:nth-of-type(4){
    grid-area: cart1;
}

.recomm {
    padding: 16px;
    padding-right: 32px;
    grid-gap: 16px;
    background-color: #D9D9D9;
    
    display: grid;
    grid-template-columns: 50% 50%; /* 2 */
    grid-template-rows: 72px auto auto; /* 3 */
    grid-template-areas:
        "section1 section2"
        "section3 section3"
        "section4 section4";        
}



.list{
    margin-bottom: 16px;
    background-color: #FDFDFD;
    border: 2px solid #023E73;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 50% 50%; /* 2 */
    grid-template-rows: auto 72px auto 69px; 
    grid-template-areas:
        "img1 img1"
        "title1 title1"
        "desc1 desc1"
        "custom1 cart1";   
}

.listreviews{
    margin-bottom: 16px;
    background-color: #FDFDFD;
    border: 2px solid #023E73;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 50% 50%; /* 2 */
    grid-template-rows: auto 72px auto 69px; 
    grid-template-areas:
        "img1 img1"
        "title1 title1"
        "desc1 desc1"
        "custom1 cart1";   
}

.list img, .listreviews img{
    width: 300px;
}



.list div:nth-of-type(1), .listreviews div:nth-of-type(1){
    grid-area: img1;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0px;
    padding: 0px;
}

.list div:nth-of-type(2), .listreviews div:nth-of-type(2){
    grid-area: title1;


}

.list div:nth-of-type(3), .listreviews div:nth-of-type(3){
    grid-area: desc1;

}

.list div:nth-of-type(4), .listreviews div:nth-of-type(4) {
    grid-area: custom1;
}

.list div:nth-of-type(5), .listreviews div:nth-of-type(5){
    grid-area: cart1;
}


.edit{
    padding: 16px;
    
    background-color: #D9D9D9;
    display: grid;
    row-gap: 16px;
    grid-template-columns:  50% 50%; /* 2 */
    grid-template-rows: 72px auto auto; /* 3 */
    grid-template-areas:
        "section1 section1"
        "section2 section2"
        "section3 section3";  
}

.cartlist{
    margin-bottom: 16px;
    background-color: #FDFDFD;
    border: 2px solid #023E73;
    border-radius: 16px;
    padding: 8px;
    display: grid;
    grid-template-columns: 120px auto 32px 32px; /* 2 */
    grid-template-rows: 32px auto 32px; /* 2 */
    grid-template-areas:
        "img1 text1 img2 img4"
        "img1 text1 quant img4"
        "img1 text1 img3 img4";   

}

.cartlist div{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    
}

.cartlist p{
    padding-left: 8px;
    margin:0px;
    font-size: 12px;
}

.cartlist h2{
    font-size: 20px;
    text-align: center;
    color: #023E73;
}

.cartlist h3{
    margin:0px;
    font-size: 16px;
    padding-left: 8px;
}

.cartlist div:nth-of-type(1){
    grid-area: img1;
}

.cartlist div:nth-of-type(2){
    grid-area: text1;


}

.cartlist div:nth-of-type(3){
    grid-area: img2;

}

.cartlist div:nth-of-type(4){
    grid-area: quant;
}

.cartlist div:nth-of-type(5){
    grid-area: img3;
}

.cartlist div:nth-of-type(6){
    grid-area: img4;
}

.cart{
    padding: 16px;
    padding-right: 32px;
    
    background-color: #D9D9D9;
    display: grid;
    gap: 16px;
    grid-template-columns: 50% 50%; /* 2 */
    grid-template-rows: 72px auto auto; 
    grid-template-areas:
        "section1 section1"
        "section2 section2"
        "section3 section3";      
}

.cartinfo{
    position: sticky;
    bottom: 16px;
    padding-right: 16px;
    background-color: #D9D9D9;
    display: grid;
    gap: 16px;
    grid-template-columns: 50% 50%; /* 2 */
    grid-template-rows: 72px auto 72px; 
    grid-template-areas:
        "section1 section1"
        "section2 section2"
        "section3 section4"; 
}

.cartcomplete{
    position: sticky;
    bottom: 16px;
    padding-right: 16px;
    background-color: #D9D9D9;
    display: grid;
    gap: 16px;
    grid-template-columns: 50% 50%; /* 2 */
    grid-template-rows: 72px auto 72px; 
    grid-template-areas:
        "section1 section1"
        "section2 section2"
        "section3 section3"; 
}



.payment{
    padding: 16px;
    grid-gap: 16px;
    background-color: #D9D9D9;
    display: grid;
    grid-template-columns: auto; /* 1 */
    grid-template-rows: 312px auto; 
    grid-template-areas:
        "section1"
        "section2";    
}

.card{
    padding-right: 16px;
    grid-gap: 16px;
    background-color: #FDFDFD;
    border: 0px solid #023E73;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows:  72px 64px 64px 64px;
    grid-template-areas:
        "section1 section1"
        "card1 card1"
        "card2 card2"
        "card3 card4";        
}

.card div{
    
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #FDFDFD;
    border: 2px solid #023E73;
    border-radius: 16px;
    margin: 0px;
    padding: 0px;   
}

.card div:nth-of-type(1){
    grid-area: card1;
}
.card div:nth-of-type(2){
    grid-area: card2;
}
.card div:nth-of-type(3){
    grid-area: card3;
}
.card div:nth-of-type(4){
    grid-area: card4;
}

.ordersummary{
    position: sticky;
    bottom: 16px;
    padding-right: 16px;
    background-color: #D9D9D9;
    display: grid;
    gap: 16px;
    grid-template-columns: 50% 50%; /* 2 */
    grid-template-rows: 72px auto 72px; 
    grid-template-areas:
        "section1 section1"
        "section2 section2"
        "section3 section4"; 
}

.cartsummary{
    margin-bottom: 16px;
    background-color: #FDFDFD;
    border: 2px solid #023E73;
    border-radius: 16px;
    padding: 8px;
    display: grid;
    grid-template-columns: 120px auto 32px; 
    grid-template-rows: 32px auto 32px; 
    grid-template-areas:
        "img1 text1 img2"
        "img1 text1 img2"
        "img1 text1 img2";   

}

.cartsummary div{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    
}

.cartsummary p{
    padding-left: 8px;
    margin:0px;
    font-size: 12px;
    text-decoration: none;
}

.cartsummary h3{
    margin:0px;
    font-size: 16px;
    padding-left: 8px;
    text-decoration: none;
}

.cartsummary div:nth-of-type(1){
    grid-area: img1;
}

.cartsummary div:nth-of-type(2){
    grid-area: text1;


}

.cartsummary div:nth-of-type(3){
    grid-area: img2;

}

.register{
    padding: 16px;
    grid-gap: 16px;
    background-color: #D9D9D9;
    display: grid;
    grid-template-columns: auto; /* 1 */
    grid-template-rows: 400px; 
    grid-template-areas:
        "section1";    
}

.login{
    padding-right: 16px;
    grid-gap: 16px;
    background-color: #FDFDFD;
    border: 0px solid #023E73;
    border-radius: 16px;
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows:  72px 64px 64px 64px 72px;
    grid-template-areas:
        "section1 section1"
        "card1 card1"
        "card2 card2"
        "card3 card3"
        "section2 section2";        
}

.login div{
    
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: #FDFDFD;
    border: 2px solid #023E73;
    border-radius: 16px;
    margin: 0px;
    padding: 0px;   
}

.login div:nth-of-type(1){
    grid-area: card1;
}
.login div:nth-of-type(2){
    grid-area: card2;
}
.login div:nth-of-type(3){
    grid-area: card3;
}




img{
    max-width: 100%;
    max-height: 100%;
    
}



nav{
    
    background-color: #FDFDFD;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav:nth-of-type(1){ /* Logo Image */
    grid-area: nav1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav:nth-of-type(2){
    grid-area: nav2;
    padding-left: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

nav:nth-of-type(3){
    grid-area: nav3;
}

nav:nth-of-type(4){
    grid-area: nav4;

}

nav:nth-of-type(5){ /* Search */
    grid-area: nav5;
    border: 2px solid #023E73;
    border-radius: 16px;
    margin: 8px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section{
    background-color: #FDFDFD;    
}

section:nth-of-type(1){
    grid-area: section1;
    
}

section:nth-of-type(2){
    grid-area: section2;
    
}

section:nth-of-type(3){
    grid-area: section3;
    
}

section:nth-of-type(4){
    grid-area: section4;
    
}

section:nth-of-type(5){
    grid-area: section5;
}

section:nth-of-type(6){
    grid-area: section6;
}



h1{
    color: #023E73;
    font-weight: 900;
}








@media screen and (min-width: 1024px) {
    
    h1{
        margin: 0px;
        font-size: 40px;
    }
    body {
        margin: 0px;
        padding: 0px;
        background-color: #D9D9D9;
        height: 100vh;
        display: grid;
        grid-template-columns: auto; /* 1 */
        grid-template-rows: 72px auto; /* 2 */
        grid-template-areas:
            "header"
            "main";
    }

    header{
    
        grid-area: header;
        display: grid;
        grid-template-columns: 20% 30% 30% repeat(2, 10%);
        grid-template-rows: auto;
        grid-template-areas:
            "nav1 nav2 nav5 nav3 nav4";
        background-color: #FDFDFD;
    }
    
    .home {
        margin: 0px;
        padding: 0px;
        padding-right: 72px;
        padding-top: 32px;
        padding-bottom: 64px;
        gap: 24px;
        grid-area: main;
        display: grid;
        grid-template-columns: 20% 30% 30% 20%;
        grid-template-rows: 70% 10%;
        grid-template-areas:
            "space1 section1 section1 space2"
            "space1 section2 section3 space2";
    }
    


    .product{
        margin: 0px;
        padding: 0px;
        padding-right: 72px;
        padding-top: 32px;
        gap: 24px;
        display: grid;
        grid-template-columns: 20% 30% 30% 20%;
        grid-template-rows: 60% auto;
        grid-template-areas:
            "space1 section1 section2 space2"
            "space1 section3 section3 space2"; 
    }

    .customerpurchased{
        background-color: #D9D9D9;
        gap:16px;
        padding-right: 16px;
        padding-bottom: 32px;
        display: grid;
        grid-template-columns: repeat(4, 25%); /* 1 */
        grid-template-rows: 72px auto; /* 2 */
        grid-template-areas:
            "section1 section1 section1 section1"
            "section2 section3 section4 section5";    
    }

    .recomm {
        margin: 0px;
        padding: 0px;
        padding-right: 72px;
        padding-top: 32px;
        padding-bottom: 64px;
        gap: 24px;
        display: grid;
        grid-template-columns: 20% 30% 30% 20%;
        grid-template-rows: 64px auto;
        grid-template-areas:
            "space1 section1 section2 space2"
            "space1 section3 section4 space2";       
    }
    
    .listreviews{
        margin-bottom: 16px;
        background-color: #FDFDFD;
        border: 2px solid #023E73;
        border-radius: 16px;
        display: grid;
        grid-template-columns: 50% 50%; /* 2 */
        grid-template-rows: auto auto 316px 69px; 
        grid-template-areas:
            "img1 img1"
            "title1 title1"
            "desc1 desc1"
            "custom1 cart1";   
    }


    .edit{
        margin: 0px;
        padding: 0px;
        padding-right: 72px;
        padding-top: 32px;
        padding-bottom: 64px;
        gap: 24px;
        display: grid;
        grid-template-columns: 35% 30% 35%;
        grid-template-rows: 64px auto 64px;
        grid-template-areas:
            "space1 section1  space2"
            "space1 section2  space2"
            "space1 section3  space3"; ;  
    }
    


    .cartlist{
    
        background-color: #FDFDFD;
        border: 2px solid #023E73;
        border-radius: 16px;
        padding: 8px;
        display: grid;
        grid-template-columns: 120px auto 32px 32px; /* 2 */
        grid-template-rows: 32px auto 32px; /* 2 */
        grid-template-areas:
            "img1 text1 img2 img4"
            " img1 text1 quant img4"
            " img1 text1 img3 img4";   
    }

    .cart{

        
        background-color: #D9D9D9;
        display: grid;
        gap: 16px;
        grid-template-columns: 20% 30% 30% 20%;
        grid-template-rows: 72px auto auto; 
        grid-template-areas:
            "space1 section1 section3 space2"
            "space1 section2 section3 space2"
            "space1 section2 section3 space2";      
    }
    .cartinfo{
        padding-right: 16px;
        background-color: #D9D9D9;
        display: grid;
        gap: 16px;
        grid-template-columns: 50% 50%; /* 2 */
        grid-template-rows: 72px 30% 72px; 
        grid-template-areas:
            "section1 section1"
            "section2 section2"
            "section3 section4"; 
    }

    .cartcomplete{
    
        background-color: #D9D9D9;
        display: grid;
        gap: 16px;
        grid-template-columns: 50% 50%; /* 2 */
        grid-template-rows: 72px 30% 72px; 
        grid-template-areas:
            "section1 section1"
            "section2 section2"
            "section3 section3"; 
    }

    .payment{
        margin: 0px;
        padding: 0px;
        padding-right: 72px;
        padding-top: 32px;
        padding-bottom: 64px;
        gap: 24px;
        background-color: #D9D9D9;
        display: grid;
        grid-template-columns: 20% 30% 30% 20%;
        grid-template-rows:  auto;
        grid-template-areas:
            "space1 section1 section2 space2";    
    }

    .ordersummary{
        position: sticky;
        bottom: 16px;
        padding-right: 16px;
        background-color: #D9D9D9;
        display: grid;
        gap: 16px;
        grid-template-columns: 50% 50%; /* 2 */
        grid-template-rows: 72px 30% 72px; 
        grid-template-areas:
            "section1 section1"
            "section2 section2"
            "section3 section4"; 
    }

    .register{
        margin: 0px;
        padding: 0px;
        padding-right: 48px;
        padding-top: 32px;
        padding-bottom: 64px;
        gap: 24px;
        display: grid;
        grid-template-columns: 35% 30% 35%;
        grid-template-rows: 400px;
        grid-template-areas:
            "space1 section1 space2";
    }
}